@import "./reset";
@import './form';
@import '../helpers/_classes.scss';

//页面结构
.page{
    position: absolute; top:0; bottom:0; left:0; right:0;
    background-color: #f4f4f4;
    overflow: hidden;
    .scroll-window {
        position: absolute; top:45px; bottom:0; left:0; right:0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .wx-scroll-window {
        position: absolute; top:0; bottom:0; left:0; right:0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}